body{
	background: #000;
	color:#fff;
}

a{
	text-decoration: none;
}

li{
	list-style: none;
}

input{
	color:#333;
}

img{
	width:100%;
}

header input{
	margin-top:15px;
}

.pic{
	text-align: center;
}

footer{
	text-align: center;
	margin-top:40px;
	border-top: #333 solid 1px;
}